// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.jpg');
  color: white;
  text-align: center;
  height: 70vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

h1 {
  font-family: 'Milonga', cursive;
}

#home-page-h3 {
  margin-top: 50px;
}

#home-page-h2, #home-page-h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 8px;
}

#home-page-h2 {
  margin: 40px;
}

h3 {
  font-size: 20px;
}

.home-page-row {
  padding: 20px;
  margin: auto;
}

.card {
  height: 280px;
  width: 350px;
  padding: 5px, 10px;
  margin: 5px, 10px;
}


.container {
  padding: 90px;
  width: 750px;
  display:flex;
  justify-content: space-between;
}

