// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-family: 'Milonga', cursive;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 8px;
}

h2 {
  margin: 40px;
}

h3 {
  font-size: 20px;
}

.row {
  padding: 20px;
  margin: auto;
}

.card {
  height: 280px;
  width: 350px;
  padding: 5px, 10px;
  margin: 5px, 10px;
}
