<div class="user-prof">
  <img src="raymond-prof" class="avatar-large">
  <div class="user-info">
    <h2>Raymond Yan</h2>
    <p> 19, Henan</p>
  </div>
</div>

<div class="manage-container">
  <div class="manage-header">
    <div class="tab book-tab">
      <a href="#" class="tab-active"><strong>My bookings</strong></a>
    </div>
    <div class="tab-text">
      <a href="#" class="tab"><strong>My listings</strong></a>
    </div>
  </div>
  <ul class="bookings">
    <% @bookings.each do |t| %>
    <li>
      <% owner = User.find(t.user_id) %>
      <%= owner.name %>
      <% bathroom = Bathroom.find(t.bathroom_id) %>
      <%= bathroom.address %>
      <%= t.start_time %>
      <%= t.end_time %>
    </li>
    <% end %>
  </ul>

</div>
