<div class= "banner", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1>Find Your Dream Bathroom</h1>
    <h3>ANYWHERE, ANYTIME</h3>
    <div class="container">
      <a href="#" class="btn-medium">Host Your Bathroom</a>
      <a href="#" class="btn-medium">Book a Bathroom</a>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class='row'>
    <h2>See What's Popular Now</h2>
    <% Bathroom.all.each do |bathroom| %>
      <div class = "col-sx-12 col-sm-4">
        <%= link_to bathroom_path(bathroom) do %>
          <% if bathroom.photo1? %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bathroom.photo1, crop: :fill %>');">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://st.hzcdn.com/simgs/cf3111130426c707_4-1308/traditional-bathroom.jpg');">
          <% end %>
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h4><%= bathroom.name %></h2>
          </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
