<div class= "banner", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1>Find Your Dream Bathroom</h1>
    <h3>ANYWHERE, ANYTIME</h3>
  </div>
</div>


<div class="wrapper">
  <div class='row'>
    <h2>See What's Popular Now</h2>
    <% Bathroom.all.each do |bathroom| %>
      <div class = "col col-sx-12 col-sm-4">
        <div class ="card" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= "" %>);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h4><%= bathroom.name %></h2>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
