.btn-medium {
  color: #3587A4;
  border: 1px solid #3587A4;
  padding: 5px 15px;
  border-radius: 50px;
  opacity: 0.6;
  font-weight: bolder;
  font-size: 20px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
