.profile-card {
  height: 100px;
  background-size: cover !important;
  position: relative;
  color: white
}

.profile-card-time {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.profile-card-description {
  position: absolute;
  top: 33px;
  left: 5px;
  font-size: 10px;
  line-height: 5px;
}

.profile-card-room-name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
}

.profile-card-address {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 15px;
  line-height: 5px;
}

.container {
  display: flex;
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.larg h3 {
  font-size:17px;
  margin:0;
  line-height: 40px;
  color: #555;
  cursor:pointer;
  position:relative;
}

main {
  flex:1;
  -webkit-flex:1;
  -ms-flex:1;
}

.larg {
  max-width:960px;
  margin:30px auto;
  padding:0 30px;

  & div {
    padding: 0 20px;
    margin:15px 0;

    // &:hover {
    //     background-color:#fafafa;
    // }

    h3 span {
      font-family: 'entypo';
      font-size:19px;
      position:absolute;
      right:0;
      transition:all .6s;

      &.close {
        -webkit-transform:rotate(180deg);
        transition:all .5s;
      }
    }

    & p {
      // display:none;
      // margin-left:10px;
      // padding:0 15px;
      // border-left:1px solid #ccc;
    }
  }
}
